.loader {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #8b7866;
}
.loader-img {
  margin: auto;
}
.loader-hidden {
  display: none;
}
